body {
    background-color: #222;
    font-family: Poppins, sans-serif;
}
a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.greedy-nav {
    background-color: white;
    display: table;
    width: 90%;
    margin: 5vh auto;
}
.greedy-nav ul {
    display: table-row;
}
.greedy-nav ul li {
    display: table-cell;
    border-right: 1px solid #333;
    padding: 1em;
    vertical-align: middle;
    min-width: 5em;
}
.greedy-nav ul .burger {
    display: none;
    width: 1em;
    background-color: #555;   
}
.greedy-nav ul .burger svg{
    fill: white;
}
.greedy-nav ul li:last-child {
    border-right: none;
}
@media (max-width: 1200px) {
    .greedy-nav ul .lg {
        display: none;
    }
    .greedy-nav ul .burger {
        display: table-cell; 
        position: relative;     
    }
    .greedy-nav ul .burger svg {
        transform: translateX(1.5em);
    }
    .greedy-nav ul .burger::before {
        content: "2";
        color: white;
        background-color: #555;
        border: 2px solid white;
        border-radius: 100%;
        position: absolute;
        display: block;
        width: 1.5em;
        height: 1.5em;
        text-align: center;
        padding: 0.3em;
        left:-1.3em;
    }
    #greedy:target .lg {
        display: block;
        position: absolute;
        background-color: #fff;
        width: 1.5em;
        height: 1.5em;
        border: 1px solid #222;
    }
    #greedy:target .lg:nth-child(8) {
            top: 7.9em;
    }
    #greedy:target .lg:nth-child(9) {
            top: 11.4em;
    }
    }
@media (max-width: 900px) {
    .greedy-nav ul .md {
        display: none;
    }
    .greedy-nav ul .burger {
        display: table-cell; 
        position: relative;  
    }
    .greedy-nav ul .burger::before {
        content: "4";
    }
    #greedy:target .lg,
    #greedy:target .md {
        display: block;
        position: absolute;
        background-color:#fff;
        width: 1.5em;
        height: 1.5em;
        border: 1px solid #222;
    }
    #greedy:target .md:nth-child(6) {
        top:7.9em;
    }
    #greedy:target .md:nth-child(7) {
        top: 11.4em;
    }
    #greedy:target .lg:nth-child(8) {
        top: 14.9em;
    }
    #greedy:target .lg:nth-child(9) {
        top: 18.4em;
    }
}
@media (max-width: 750px) {
    .greedy-nav ul .sm {
        display: none;
    }
    .greedy-nav ul .burger {
        display: table-cell; 
        position: relative;     
    }
    .greedy-nav ul .burger::before {
        content: "6";   
    }
    #greedy:target .lg,
    #greedy:target .md,
    #greedy:target .sm {
        display: block;
        position: absolute;
        background-color: #fff;
        width: 1.5em;
        height: 1.5em;
        border: 1px solid #222;   
    }
    #greedy:target .sm:nth-child(4){
        top:7.9em;
    }
    #greedy:target .sm:nth-child(5) {
        top: 11.4em;
    }
    #greedy:target .md:nth-child(6) {
        top:14.9em;
    }
    #greedy:target .md:nth-child(7) {
        top: 18.4em;
    }
    #greedy:target .lg:nth-child(8) {
        top: 21.7em;
    }
    #greedy:target .lg:nth-child(9) {
        top: 25.3em;
    }
}
